/.github          export-ignore
/tests            export-ignore
.gitattributes    export-ignore
.gitignore        export-ignore
phpbench.json     export-ignore
phpcs.xml.dist    export-ignore
phpmd.xml.dist    export-ignore
phpstan.neon.dist export-ignore
phpunit.xml.dist  export-ignore
composer.lock     export-ignore
