
name: "Static Analysis"

on:
  pull_request:
    branches:
      - "*.x"
  push:
    branches:
      - "*.x"

jobs:
  static-analysis:
    name: "Static Analysis"
    uses: "doctrine/.github/.github/workflows/static-analysis.yml@1.2.0"
    with:
      composer-root-version: "1.4"
      php-version: "7.4"
